<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body class="bg-body-secondary">
<div th:fragment="order-list" class="container p-2">
    <div class="container">
        <!-- Кнопка для добавления нового заказа -->
        <div class="text-left mb-3">
            <a th:href="@{/create-order}" class="btn btn-primary btn-sm m-2">
                <i class="bi bi-plus-lg"></i>&nbsp;Add Order
            </a>
        </div>

        <!-- Таблица для отображения заказов -->
        <div class="bg-white p-3">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Cost</th>
                    <th scope="col">Products</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.creationDate}"></td>
                    <td th:text="${order.totalCost}"></td>
                    <td>
                        <ul class="mb-0">
                            <li th:each="product : ${order.products}"
                                th:text="${product.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                           th:href="@{/update-order/{id}(id=${order.id})}"
                           role="button">Update</a>
                        <a class="btn btn-danger btn-sm"
                           th:href="@{/delete-order/{id}(id=${order.id})}"
                           role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="font-weight-bold fs-3 text-center bg-white" th:text="${ordersInfo}"></p>
        </div>
    </div>
</div>
</body>
</html>
